/************************************************
     CSS RESET
************************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****** End CSS reset ********/

/*global*/
body {
  background-color: #42cbe2;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  max-width: 800px;
  margin: auto;
}

@font-face {
  font-family: "BebasNeue-regular";
  src: url(./assets/fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: "Inter-Regular";
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

#Etape1Container {
  /* height: 100vh;   */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Etape2Container {
  /* height: 100vh;   */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*fin global*/

/*étape 1*/
#Logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.title-h4 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.938rem;
  font-family: "BebasNeue-Regular";
  margin-bottom: 5px;
}

.title-h4-border {
  font-family: "BebasNeue-Regular";
  font-size: 1.938rem;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.7px white;
  margin-bottom: 20px;
  /* -webkit-text-fill-color: white; voir en cas de non prise en charge du navigateur */
}

#PlayerRoulette {
  height: 300px;
  width: 300px;
  background-color: white;
  margin: 20px auto;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #7d67d9, #08d3f7) border-box;
  border-radius: 50em;
  border: 1px solid transparent;
  margin-bottom: 20px;
}

#BtnEtape1Container {
  display: inline-flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#BtnEtape1 {
  font-family: "BebasNeue-Regular";
  font-size: 1.7rem;
  color: #42cbe2;
  border-radius: 50%;
  padding: 30px 100px;
  border: none;
  background-color: white;
  /* min-width: 300px; */
  width: 100%;
}

#BtnEtape1::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  border: 1px solid #7d67d9;
  transform: rotate(-2deg);
}

#BtnEtape1::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transform: rotate(1deg);
  border: 2px solid white;
  border-radius: 50%;
}
/*fin étape 1*/

/*etape2*/
#ContactForm {
  max-width: 400px;
  margin: 0 auto;
}

#ContactForm input {
  display: block;
  width: 100%;
  padding: 8px 10px 8px 35px;
  border-radius: 25px;
  border: none;
}

::placeholder {
  font-family: "Poppins-Regular";
}

#CheckboxCgv {
  display: flex;
  align-items: center;
  margin-left: 15%;
  margin-top: 35px;
}

#CheckboxCgv input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-bottom: 0;
}

#CheckboxCgv a {
  color: white;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-family: "Inter-Regular";
}

#ContactForm button {
  display: block;
  margin: auto;
  border: none;
  background-color: white;
  color: #42cbe2;
  font-family: "Bebas-Neue";
  font-size: 1.5em;
  padding: 7px 20px;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

#email {
  background-image: url("./assets/images/MailIcon.png");
  background-repeat: no-repeat;
  background-position: 13px center;
  background-size: 15px;
}

#email:focus {
  outline: none;
  border: 2px solid #7d67d9;
  background-image: url("./assets/images/mailIconGradient.png");
}

#tel {
  background-image: url("./assets/images/PhoneIcon.png");
  background-repeat: no-repeat;
  background-position: 13px center;
  background-size: 10px;
  margin-top: 35px;
}

#tel:focus {
  outline: none;
  border: 2px solid #7d67d9;
  background-image: url("./assets/images/PhoneIconGradient.png");
}
#prenom {
  background-image: url("./assets/images/UserIcon.png");
  background-repeat: no-repeat;
  background-position: 13px center;
  background-size: 15px;
  margin-top: 35px;
}

#prenom:focus {
  outline: none;
  border: 2px solid #7d67d9;
  background-image: url("./assets/images/UserIconGradient.png");
}

#email:not(:empty) {
  display: none;
}

/*erreurs formulaires*/

.error-message {
  color: #d73939;
  font-size: 1.1em;
  line-height: 2em;
}
.error-message-cgv {
  color: #d73939;
  font-size: 1.1em;
  line-height: 2em;
  margin-left: 65px;
  margin-bottom: 30px;
}

.error {
  border: 2px solid #d73939 !important;
}
#email.error {
  background-image: url("./assets/images/MailErrorIcon.png");
}
#tel.error {
  background-image: url("./assets/images/PhoneIconError.png");
}
#prenom.error {
  background-image: url("./assets/images/MailErrorIcon.png");
}

/*fin etape 2*/

/*CGV*/

#CgvContainer {
  padding: 0 15px;
}

#CgvContainer p {
  margin-top: 35px;
  font-family: "Poppins-Regular";
  font-size: 1.3em;
  text-align: justify;
}

#CgvContainer #Logo {
  margin-top: 35px !important;
}

#CgvFirstParagraph {
  width: 60%;
  margin: auto;
  text-align: center !important;
}

#CgvContainer p:last-of-type {
  margin-bottom: 35px;
}

#ReturnIcon {
  top: 20px;
  right: 10%;
  cursor: pointer;
}
/*fin CGV*/

/*jeu roulette*/
.img-roulette {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#PlayerRoulette img:not(:first-child) {
  display: none;
}

#PlayerRoulette {
  overflow: hidden;
}

#CouponLinkContainer {
  margin-top: 35px;
}

#CouponLinkContainer img {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  cursor: pointer;
}
.opacity0 {
  opacity: 0;
}
.opacity-transition {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.top--150 {
  top: -150px;
}

.top-50 {
  top: 50%;
}

.top-transition {
    transition: top 0.5s ease-in-out; /* Transition de mouvement vertical sur 1.5 secondes */
}

/*fin jeu roulette*/

/*media queries*/

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }

  #PlayerRoulette {
    width: 450px;
    height: 450px;
  }

  #ContactForm {
    min-width: 600px !important;
  }

  #ContactForm input {
    padding: 15px 15px 15px 35px
  }

  #Etape2Container .title-h4-border {
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 2.2em;
  }

   #Etape1Container .title-h4-border{
    font-size: 2.2em;
    margin-top: 10px;
   }

  #Etape2Container .title-h4 {
    font-size: 2.2em;
  }
  #Etape1Container .title-h4 {
    font-size: 2.2em;
  }
}

@media screen and (max-width: 768px) {
  #Etape2Container {
    margin-top: 40px;
  }
}
